@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div>
    @Html.ActionLink("Go back to home page", "../Project/Index", null, new { @class = "waves-effect waves-light btn" })
</div>