.twitterContent{
    margin-top: 5px;
    
}

.About{
    background-image: url('~/Content/Images/backgroundAbout.jpg');
    background-repeat: repeat;

}

.twitter{
    margin: 10px;
    width: 350px;
    height: 155px;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    position: center;
    /* set border roundness */  
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius: 15px;
    margin-left: 10;
}
.twitterContainer{
    float: left;
    width: 100%;

}

.titleAbout{
    color: #26a69a;
    text-align: center;
}

.AboutContent{
    margin: 0;
    padding-top: 40px;
    padding: 0;
    width:100%;
    
}

.aboutUs{   
    text-align: center;
    padding-top: 70px;
    margin-bottom: 200px;
}

.AboutTwitter{
    /*background-color: #C3E4ED;*/
    height: 600px;
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.form-group .form-control.input-width{
    width: 100%;
}

.titleAbout{
    margin-bottom: 50px;
}

.description{
    margin-top: 20px;
    color: #26a69a;
    font-family:GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 25px;
    
}