body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Ace editor*/
#editor {
    position: relative;
    clear: both;
    height: 425px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.SideBySide{
    float: left;
    width: 80px;
    height: 74px;
    margin: 10px;
}

#ProjectFileName{
    position: absolute;
    width: auto;
    padding: 6px 9px 0 9px;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;



}

.SaveButtonEdit{
    clear:both;
    right: 245px;
    position: absolute;
    width: 80px;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;

}

.field-validation-error {
    color:red;
    
}

.input-validation-error {
    border:4px solid red;
}

.logo
{
    background:url(../Content/Images/logoBlueFade.jpg) no-repeat top left;
    display:block;
    width:150px;
}

.CodebucketLogo{
    float: left;
    padding-left: 30px;
}
.navbar-brand{
    color: #ffffff !important;
}

ul.nav a:hover { color: #000000 !important; }

.nav.navbar-nav li a {
   color: #ffffff;
}


.navbar-inverse { background-color: #26a69a !important; }


#projectTitle{
    padding-left: 18px;
}

.typeLogo{
    padding-left: 13px;
}

.modal-body iframe
{
	width:100% !important;
}
