/*If the font is added to div then the ace cursor is displaces*/
/* *{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}*/

h1, h2, h3, h4, h5, h6{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

p, a, label, legend {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

input, textarea{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

th, td, tr, table, tbody, tfoot, thead, title {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    padding: 1em;
    margin-top:30px;
}

.fb-follow{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 40%;
}

footer{
     margin: 0;
    padding: 0;
    position: absolute;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.delete-button {
    background-color: rgba(244, 67, 54, 0.7);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Ace editor*/
#editor {
    position: relative;
    clear: both;
    height: 440px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 50px;


}

/*#editor.setOptions{
    font-family: Tahoma ;
    font-size: 10pt;
}*/

.FileName{
    float:left;
}

.ThemeSelect{
    float:right;
}
/*.SideBySide{
    float: left;
    width: 150px;
    height: 74px;
    margin: 10px;


}*/

.file-name {
    border:solid;
    border-color:gainsboro;
}

#ProjectFileName{
    position: absolute;
    width: auto;
    padding: 6px 9px 0 9px;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.SaveButtonEdit {
	float: right;
}


.field-validation-error {
    color:red;
     margin: 0;
    display:block;
    padding-left: 80px;
}


.input-field {
    line-height:5%;
}

.input-validation-error {
    line-height:200%;
}

.validation-summary-errors {
    line-height: 50%;
    color:red;
    display:block;
    padding-left:80px;
    margin:0;
    font-size:medium;
}

.validate {
    font-size: medium;
}



.logo
{
    background:url(../Content/Images/logoBlueFade.jpg) no-repeat top left;
    display:block;
    width:150px;
}

.CodebucketLogo{
    float: left;
    padding-left: 30px;
}
.navbar-brand{
    color: #ffffff !important;
}

ul.nav a:hover { 
	color: #000000 !important; 
}

.nav.navbar-nav li a {
   color: #ffffff;
}

.navbar-inverse {
	background-color: #26a69a !important; 
}


.row {
    margin: 0px auto 0;
}

#loginForm {
    margin: 0 auto;
}

.wrap {
    width:400px;
    overflow:hidden;
    margin:auto;
   
}

#buttonControl {
    padding-left:50px;
    padding-top: 160px;
}

.projectTitle {
    padding-top: 10px;
    padding-left: 18px;
}

.typeLogo{
    height: 40px;
    width: 45px;
    margin-right: -700px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.typeLogo2{
    height: 40px;
    width: 45px;
    margin-right: -700px;
    padding-right: 8px;
}

.projectLink{
    float: right;
}

.modal-body iframe{
	width:100% !important;
}

td{
    font-size: 20px;
}

.ownerTD{
    padding-right: 7px;
}

td a{
    font-size: 25px;
    text-decoration: none !important;
    color: rgb(38,166,154);
}

td a:hover{
    color: rgb(38,166,154);
}

#viewInstr {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.check{
    background-color: #ffffff;
}

input[type="text"]{
    font-size:14px;
}


.fileDel{
    width: 13%;
}

.delSymbol{
    height: 40%;
    width: 40%;
    float: right;
    padding-right: 15px;
}

.chat{
   border: 1px solid #cccccc;
    border-radius: 4px;
    opacity: 1;
    margin-top: -30px;
    text-align: center;
    width: 700px;
    margin-bottom: 150px;
    margin-left: 175px;
}

.sendMessage{
    background-color: #26a69a;
    color: #ffffff;
}

.delSymbolProject{
    height: 24px;
    width: 24px;
    float: right;
}

.isProjectMember{
    height: 36px;
    width: 36px;
    margin-right: 1px;
    float: right;
}

.delIconProject{
    height: 20px;
    width: 20px;
    display: inline;
    float: right;
    margin-right: 9px;
}

.iconText{
    font-size: 16px;
    color: rgb(38,166,154);
    font-weight: bold;
}

.addedBy{
    font-size: 16px;
    color: rgb(38,166,154);
    margin-bottom: -18px;
    margin-right: -210px;
    margin-left: -9px;
}

.addedByIco{
    font-size: 12px;
    color: rgb(38,166,154);
    margin-bottom: -15px;
    margin-right: -210px;
    margin-left: -12px;
}

.iconText:hover{
    color: rgb(38,166,154);
    text-decoration: none;
}

.editor.setOptions {
     font-family: Tahoma;
     font-size: 10pt;
}

/*displayProject.cshtml starts from here*/

.AddFileDisplay{
    float: right;
    margin-left: 20px;
}

.AddMemberDisplay{
    
    display: inline;
}

.BackDisplayProject{
    float: left;
}

.FileDisplayContainer{
    margin-top: 25px;
    margin-bottom: 95px;
}

.chip>img{
    height: 29px;
    width: 29px;
}

/*.collection {
    margin: 1.5rem 850px 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 37px;
    overflow: hidden;
    position: relative;
}*/

.delSymbolMembers{
    height: 35px !important;
    width: 35px !important;
    float: right;
}

#memberDisplay{
    width: 18%;
}

#projectDisplay {
    width: 74%;
    float: left;
    margin-right: 78px;
}

.memberHeader{
    display: inline;
}

#memHead{
    float: right;
    padding-right: 105px;
}

.noMembers{
    font-size: 18px; 
}

#AddMemberIcon{
    height: 38px;
    width: 38px;
    float: right;
    margin-right: 14px;
}

#memberTableHeader{
    margin-left: 840px;
}

#memberTableHeader, 
#AddMemberIcon{
    display: inline;
}

#addFileIcon{
    height: 30px;
    width: 30px;
    margin-left: 50px;
}

#fileTableHeader{
    margin-bottom: -25px;
}

#LeaveProjectIcon{
    height: 29px !important;
    width: 29px !important;
    margin-left: 25px;
    margin-bottom: 10px;
}

.confirmRemDel {
    min-height: 90%; 
    text-align: center;
    font-size: 200%;
}

/* About site.*/
.background-aboutSite{
    background-color: #E0E0E0 !important;
    background-repeat: repeat-x;
    margin-top: 5px;
}

.twitter{
    margin: 10px;
    width: 300px;
    height: 120px;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    

    /* set border roundness */  
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius: 15px;
}

.twitterContainer{
    float: left;
    margin-left: 20px;

}

.titleAbout{
    color: #26a69a;
    text-align: center;
}

.AboutContent{
    margin: 0;
    padding-top: 40px;
    padding: 0;
    width:100%;
    
}

.aboutUs{   
    text-align: center;
    padding-top: 70px;
    margin-bottom: 200px;
}

.AboutTwitter{
    /*background-color: #C3E4ED;*/
    height: 600px;
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.form-group .form-control.input-width{
    width: 100%;
}

.titleAbout{
    margin-bottom: 50px;
}

.description{
    color: #26a69a;
    font-size:19px !important;
}

/* Create new project form */
.center-input-name {
    padding-left:10px;
    
    padding-bottom:0px;
    line-height: 1%;
}

.center-input-name-add-mem
{
    line-height:0%;
    padding-right: 20px;
    padding-left:260px;
}

.align-radio-buttons{
    padding-left:400px;
    
}

#create-project-form {
    padding-bottom: 245px;
}

.validation-field {
    color:red;
    font-size:15px;
    
}

.confirmCrePro{
    min-height: 90%; 
    text-align: center;
    font-size: 200%;
   
}

#valCrePro {
    
    margin-left: 40px;
   
}

#createFile {
    margin-top: 25px;
    padding-left: 390px;
}
    
/* Add member form */
.center-input-name-add-mem {
    padding-left:260px;
}

#add-member-form {
     padding-bottom: 400px;
    padding-right: 400px;
}

#addMembButtons {
    padding-left: 350px;
}

/* Add member form */
#add-file-form {
 padding-bottom: 400px;
    padding-right:200px;
}

#add-file-form p {
    padding-left: 250px;
}


/*Contact.cshtml starts from here*/

/*.contactUs{
    display: table;
    margin: 0 auto;
    font-size: 150%;
}*/

.Login{
    margin-top: 180px;
    
}

.loginFontSize{
    font-size:150%;
}

.Register{
    margin-top: 180px;
    
}
