<head>
    <link href="@Url.Content("~/Content/AboutUs.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="content">
        <div class="aboutUs">
            <img src="~/Content/Logos/transparentLogo.png" alt="whiteLogo" />
            <p class="description">
                Share your coding thought with your friends, in real time ! <br />
                Whether you want to pair program or just a place to store your files. Codebucket makes it easy
            </p>
        </div>
        <div class="AboutTwitter">
            <h2 class="titleAbout">All freedom you'd expect</h2>

            <div class="twitterContainer">

                <img class="twitter" src="~/Content/Twitter/Elvis.png" alt="Elvis" />

                <img class="twitter" src="~/Content/Twitter/Sebastian.png" alt="Sebastian" />

                <img class="twitter" src="~/Content/Twitter/Swindell.png" alt="swindell" />
            </div>
        </div>
    </div>

</body>
