<html class="About">
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>


    <div class="background-aboutSite">

    <div class="twitterContent">

        <div class="aboutUs">
            <img src="~/Content/Logos/transparentLogo.png" alt="whiteLogo" />
            <p class="description">
                Share your coding thoughts with your friends, in real time! <br />
                Whether you want to pair program or just a place to store your files. Codebucket makes it easy.
            </p>
            <a href="/Overview/Index/" class="waves-effect waves-light btn">Start coding now!</a>
        </div>
        <div class="AboutTwitter">
            <h2 class="titleAbout">All the freedom you'd expect</h2>

            <div class="twitterContainer">

                <img class="twitter" src="~/Content/Twitter/Elvis.png" alt="Elvis" />

                <img class="twitter" src="~/Content/Twitter/Sebastian.png" alt="Sebastian" />

                <img class="twitter" src="~/Content/Twitter/Swindell.png" alt="swindell" />
            </div>
        </div>
    </div>
        </div>

</body>
</html>
