@model Codebucket.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "deleteProject";
}


<div class="confirmRemDel">
    <br />
        <p>Are you sure you want to delete <b>@Model._projectName</b>?</p>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Yes" class="waves-effect waves-light btn" />

                @Html.ActionLink("No", "Index", "Project", new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>