@model Codebucket.Models.ViewModels.ProjectMemberViewModel

@{
    ViewBag.Title = "DeleteProjectMember";
}

<div class="confirmRemDel">
    <br />
        <p>Are you sure you want to remove <b>@Model._userName</b> from this project?</p>
    <div>
        @using (Html.BeginForm())   
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Yes" class="waves-effect waves-light btn" />

                @Html.ActionLink("No", "DisplayProject", new { id = Model._projectID }, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>