@model List<Codebucket.Models.ViewModels.ProjectViewModel>
@using Codebucket.Models.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>My projects</h2>
<ul class="collection">
    @foreach (ProjectViewModel item in Model)
    {
        if (item._isProjectOwner)
        {
            <li>
                @Html.ActionLink(item._projectName, "displayProjectFiles", new { id = item._id }, new { @class = "collection-item" })
            </li>
        }
    }
</ul>

<h2>Participating</h2>
<ul class="collection">
    @foreach (ProjectViewModel item in Model)
    {
        if (!item._isProjectOwner)
        {
            <li>
                @Html.ActionLink(item._projectName, "displayProjectFiles", new { id = item._id }, new { @class = "collection-item" })
            </li>
        }
    }
</ul>



@Html.ActionLink("CREATE NEW PROJECT", "createNewProject", null, new { @class = "waves-effect waves-light btn" })




