@model Codebucket.Models.ViewModels.ProjectViewModel
@using Codebucket.Models.ViewModels

@{ 
    ViewBag.Title = "Project Overview";
}

<h2>My current project</h2>

<ul>
    @foreach (ProjectFileViewModel item in Model._projectFiles)
    {
        <li>
            @Html.ActionLink(item._projectFileName, "updateProjectFile", new { id = item._id })
        </li>
    }
</ul>


@foreach (ProjectMemberViewModel item in Model._projectMembers)
{
    <li>
        @Html.DisplayFor(modelItem => item._userName)
    </li>
}

<br />
@Html.ActionLink("CREATE FILE", "createNewProjectFile", null, new { @class = "waves-effect waves-light btn" })
<br />
<br />
@Html.ActionLink("ADD MEMBER", "addProjectMember", new { id = Model._id }) @*, new { @class = "waves-effect waves-light btn" }*@